@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e1e1e1;
}




.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}




.registerArea {
    width: 500px;
    padding: 40px 30px;
    background-color: #fff;
}

.registerArea h1 {
    margin-bottom: 25px;
    text-align: center;
    font-size: 40px;
}

.registerArea form {
    display: flex;
    flex-direction: column;
}

.registerArea form input, select {
    width: 100%;
    height: 50px;
    padding: 15px;
    margin: 7px 0px;
    outline: 0;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    background-color: #eee;
    transition: 0.3s ease;
}

.registerArea form input:hover,
.registerArea form input:focus,
.registerArea form select:hover,
.registerArea form select:focus {
    background-color: #ddd;
}

.registerArea form .fullName input:first-child,
.registerArea form .birthDay {
    margin-right: 5px;
}

.registerArea form span {
    padding-left: 5px;
    font-size: 13px;
    font-weight: bold;
    color: #808080;
}

.registerArea button {
    padding: 15px;
    margin-top: 15px;
    border: 0;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #ff4500;
    transition: 0.3s ease;
}

.registerArea button:hover {
    background-color: #f00;
}


.registerArea .loginLink {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

.registerArea .loginLink a {
    margin-left: 5px;
    text-decoration: none;
    color: #1E90FF;
    transition: 0.3s ease;
}

.registerArea .loginLink a:hover {
    color: #6ab0f7;
}




@media (max-width: 510px) {
    body {
        background-color: #fff;
    }

    .row {
        flex-wrap: wrap;
    }

    .registerArea form .fullName input:first-child,
    .registerArea form .birthDay {
        margin-right: 0px;
    }
}